*{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: inherit;
	box-sizing: border-box;
	background: none;
}

img {
	max-width: 100%;
}


a:hover {
	color: #D33030;
}

a.btn {
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	padding: 15px 55px;
	display: inline-block;
	text-transform: uppercase;
	border: 1px solid #fff;
	transition: 0.5s all;
}

a.btn:hover{
	background: #fff;
	color: #222;
}

a.sm{
	padding: 10px 25px;
}


a.btn-dark{
	border-color: #222;
	color: #222;
}

a.btn-dark:hover{
	background: #222;
	color: #fff;
}

a.active{
	color: #D33030;
}

a.prd:hover{
	color: #fff;
}



body{
	font-family: Lato;
	font-size: 16px;
	line-height: 1.5;
	color: #222;
}

h2{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 60px;
}


.small{
	font-size: 12px;
	line-height: 18px;
	color: #999;
	text-transform: uppercase;
}


.container{
	width: 1290px;
	margin: auto;
}

.d-flex{
	display: flex;
}

.t-center{
	text-align: center;
}

.t-right{
	text-align: right;
}

.t-bold{
	font-weight: 700;
}

.t-fade{
	color: #999;
}

/*CHIA HÀNG*/
.row{
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}

.col-1{
	width: 8.33%;
	padding: 0px 15px;
}

.col-2{
	width: 16.66%;
	padding: 0px 15px;
}

.col-3{
	width: 25%;
	padding: 0px 15px;
}


.col-4{
	width: 33.33%;
	padding: 0px 15px;
}

.col-6{
	width: 50%;
	padding: 0px 15px;
}

.col-8{
	width: 66.66%;
	padding: 0px 15px;
}

.col-9{
	width: 75%;
	padding: 0px 15px;
}


/*HEADER*/
.header {
	padding: 25px 0px;
	font-size: 14px;
	font-weight: 700;
	box-shadow: 0px 0px 5px rgba(0,0,0,15%);
}

div.logo img {
	display: block;
}

ul.menu {
	margin-right: auto;
	display: flex;
	list-style: none;
	margin-left: 75px;
}

ul.menu li a {
	display: block;
	padding: 15px 20px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 700;
	
}

ul.menu li {
	position: relative;
}

ul.child {
	position: absolute;
	left: 20px;
	top: 100%;
	background: #000;
	list-style: none;
	width: 250px;
	display: none;
	padding: 15px 0px;
}

ul.child li a {
	color: #ccc;
	line-height: 20px;
	padding: 0px;
	margin-bottom: 10px;
	border-bottom: 1px solid #333;
}

ul.child li:last-child a {
	border: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

ul.child li a:hover {
	color: #fff;
}

ul.menu li:hover ul.child {
	display: block;
}

ul.child li {
	position: relative;
	padding: 10px 15px;
}

ul.child2 {
	position: absolute;
	top: -15px;
	left: 250px;
	width: 250px ;
	list-style: none;
	background: #000;
	display: none;
	padding: 15px 0px;
}

ul.child li:hover ul.child2 {
	display: block;
}

a.cart-btn {
	background: #222;
	color: #fff;
	line-height: 20px;
	padding: 15px 60px;
	position: relative;
}
a.cart-btn:hover {
	color: #999;
}

ul.child .fa-angle-right {
	float: right;
	margin-top: 3px;
}

a.cart-btn span {
	background: #f00;
	color: #fff;
	font-size: 10px;

	display: block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	border-radius: 100px;

	position: absolute;
	top: 10px;
	right: 50px;
}

div.cart-box {
	position: relative;
	height: 50px;
}



/*BANNER*/
.banner {
	padding: 120px 0px;
	background: url(../img/showcase.png) center center no-repeat;
	background-size: cover;
	color: #fff;
}

.banner h6{
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 5px;
}

.banner h4{
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
}

.banner h1{
	font-weight: 900;
	font-size: 72px;
	line-height: 86px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.banner p {
	margin-bottom: 50px;
}

.banner-content{
	margin-bottom: 100px;
}



/*PRODUCT BOX*/
.product-box img {
	display: block;
	opacity: 70%;
	transition: 0.5s all;
}

.product-box:hover img {
	transform: scale(1.2);
}


.product-box {
	position: relative;
	background: #000;
	overflow: hidden;
}


.product-box-content{
	position: absolute;
	left: 25px;
	bottom: 25px;
	right: 25px;
}

.product-box-content h6{
	background: #222;
	display: inline-block;
	padding: 3px 10px;
}

.product-box-content h4 {
	margin: 3px 0px 8px 0px;
}

.product-item-img {
	position: relative;
}

.product-item-img a{
	border: none;
	background: #fff;
	position: absolute;
	opacity: 0;
	top: 70%;
	left: 25px;
	right: 25px;
	text-align: center;
	display: block;
}

.product-item-img:hover a{
	top: 50%;
	opacity: 1;
}


.product-item-img .sale{
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	padding: 10px 25px;
	background: #D33030;
	color: #fff;
	display: block;
	position: absolute;
	top: 25px;
	left: 0;
}



/*CATEGORIES*/
.categories{
	margin: 120px 0px 90px 0px;
}

.ctg-box img{
	display: block;
	transition: 0.5s all;
}

.ctg-box:hover img{
	transform: scale(1.2);
}


.ctg-box{
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
}


.ctg-box h3 {
	font-size: 28px;
	line-height: 34px;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	left: 25px;
	bottom: 25px;
	color: #fff;
}


/*NEW ARRIVALS*/
.product-new{
	padding-bottom: 120px;
}

.product-item{
	margin-bottom: 60px;
}

.product-item img {
	display: block;
	margin-bottom: 10px;
}


.product-item h4{
	margin: 5px 0px;
}

.product-item a{
	font-weight: 700;
}

.product-item span.org{
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	color: #666;
	text-decoration: line-through;
	margin-right: 5px;
}



/*FEATURE*/
.feature{
	display: flex;
}

.feature-left{
	width: 45%;
	background: url(../img/feature-bg.png) center center no-repeat;
	background-size: cover;
}

.feature-right{
	width: 55%;
	padding: 120px;
	background: #000;
	color: #fff;
}

.feature-right h2{
	font-size: 72px;
	line-height: 86px;
	font-weight: 900;
	margin-bottom: 40px;
}

.feature-right p{
	margin-bottom: 40px;
}

.ctg-feature{
	margin-bottom: 120px;
}



/*COLLECTION*/
.collection{
	padding: 120px 0px;
}

.collection-box{
	position: relative;
	color: #fff;
}

.collection-box-content{
	position: absolute;
	left: 120px;
	bottom: 120px;
}

.collection-box h2{
	font-size: 72px;
	line-height: 86px;
	font-weight: 900;
	margin-bottom: 40px;
}

.collection-box h6{
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
}


/*BLOG*/
.blog{
	margin-bottom: 150px;
}

.blog-item img{
	display: block;
}

.blog-item h4{
	margin-top: 5px;
}

.blog-item a{
	font-weight: 700;
}


a.blog-img {
	color: #fff;
	position: relative;
	display: block;
	overflow: hidden;
	margin-bottom: 15px;
}

.blog-content{
	padding: 20px;
	background: rgba(0, 0, 0, 60%);
	position: absolute;
	bottom: 0px;
	left: 0px;
	top: 100%;
	right: 0px;
	transition: 0.5s all;
}

a.blog-img:hover .blog-content{
	top: 0px;
}



/*GET OFF*/
.getoff .container{
	width: 650px;
}

.form-control{
	margin: 40px 0px;
	border: 1px solid #666;
	line-height: 20px;
	padding: 14px 25px;
	border: 1px solid #ccc;
	outline: none;
}

button {
	border: none;
	background: #000;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	padding: 15px 25px;
	text-transform: uppercase;
}

.getoff .form-control{
	width: 500px;
}

.getoff h2{
	margin-bottom: 20px;
}

.getoff {
	margin-bottom: 120px;
}


/*FOOTER*/

.footer{
	background: #000;
	color: #666;
	padding: 100px 0px 20px 0px;
}

.footer a{
	color: #999;
}

.footer a:hover{
	color: #fff;
}

.footer-logo{
	display: block;
	margin-bottom: 60px;
}

 .footer h5 {
 	color: #fff;
 	text-transform: uppercase;
 	font-weight: 700;
 	margin-bottom: 40px ;
 }

 .footer-copyright{
 	
 	border-top: 1px solid #333;
 	padding-top: 20px;
 }

.footer ul{
 	list-style: none;
 	margin-bottom: 60px;
 }

.footer ul li {
	margin-bottom: 5px;
}

.social a {
	margin-right: 20px;
}

p.social{
	font-size: 25px;
	line-height: 1.5;
}


/*TRANG JACKET*/
.jacket-banner {
	padding: 167px 0px;
	background: url(../img/showcase2.png) center center no-repeat;
	background-size: cover;
	color: #fff;
	margin-bottom: 120px;
}

.banner.jacket-banner h1{
	margin-bottom: 0px;
}

.filter h2 { 
	padding-bottom: 10px;
	margin-bottom: 55px;
	border-bottom: 1px solid #222;
}
.filter h4 {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}

.filter .chose{
	margin-bottom: 25px;
}

.filter input {
	transform: scale(1.2);
	margin-right: 10px;
}

.filter select{
	width: 75px;
	display: block;
	font-weight: 700;
	padding: 10px;
	margin-bottom: 25px;
	border: 1px solid #ccc;
	outline: none;
}


.color{
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-right: 10px;
}

.cl1{
	background: #fff;
	border: 1px solid #000;
}

.cl2{
	background: #000;
}

.cl3{
	background: #DD1D1D;
;
}

.cl4{
	background: #C27C12;
}

.cl5{
	background: #22BD1F;
}

.cl6{
	background: #244FBD;
}

.color:hover{
	border: 2px solid #ccc;
}

.page-menu{
	list-style: none;
	justify-content: center;
}

.page{
	color: #999;
	font-size: 20px;
	font-weight: 700;
	padding: 5px;
	margin-right: 5px;
}

.page-menu .active{
	color: #000;
}

.page:hover{
	color: #000;
}



/*TRANG DETAIL*/
.detail .page-menu {
	justify-content: left;
	margin-top: 50px;
	margin-bottom: 60px;
}

.detail .detail-product{
	margin-bottom: 90px;
}

.detail li a{
	font-size: 14px;
	line-height: 18px;
	margin-right: 5px;
	padding-right: 5px;
	border-right: 1px solid #000;
}

.detail h5 {
	text-transform: uppercase;	
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
}

ul.page-menu li:last-child a{
	border-right: none;
	margin-right: 0px;
}

.info{
	margin-bottom: 60px;
}

.info p{
	color: #666;
	margin-bottom: -10px;
}

.detail-product img {
	display: block;
	margin-bottom: 30px;
}

.detail-product img:hover {
	opacity: 0.7; 
}

/*BẢNG SIZE*/ 
.detail table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	margin-bottom: 120px;
} 

.size-option th {
	padding: 15px 0px;
	font-weight: 700;
	text-transform: uppercase;
	background: #e6e6e6;
	border: 1px solid #ccc;
}

.detail td{
	border: 1px solid #ccc;
	padding: 15px 0px;
}

.related-product{
	display: block;
	margin-bottom: 60px;
}


.detail h3{
	font-size: 28px;
	line-height: 34px;
	font-weight: 500;
	margin-bottom: 10px;
}

.detail .product-code{
	color: #666;
	text-transform: uppercase;
}

.detail-cost{
	margin: 15px 0px 25px 0px;
	font-size: 24px;
	line-height: 28px;
}

.detail-cost span{
	 font-size: 20px;
	 line-height: 18px;
	 color: #666;
	 text-decoration: line-through;
}

.detail select{
	margin-bottom: 10px;
	border: 1px solid #ccc;
	outline: none;
}

.filter h4{
	margin-top: 25px;
}

.szguide{
	color: #999;
	font-size: 14px;
	font-weight: 18px;
	text-decoration: underline;
}

.detail input{
	font-weight: 700;
	padding: 10px;
	transform: none;
	border: 1px solid #ccc;
	outline: none;
	margin-bottom: 30px;
}



a.btn-detail{ 
	border: 1px solid #D33030;
	color: #D33030;
	margin-left: 10px;
}

a.btn-detail:hover{
	color: #FFF;
	background: #D33030;
}


/*CART TABLE*/
.shopping-bag .container{
	margin-bottom: 120px;
}


.cart-table{
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 15%);
	margin-bottom: 60px;
}

.cart-table th{
	background: #F2F2F2;
	padding: 15px 0px;
	font-weight: 700;
	line-height: 19px;
}

.cart-table td {
	padding: 20px;
	border: none;
	border-bottom: 1px solid #ccc;
}

.cart-table input{
	padding: 5px 10px;
	font-weight: 700;
	border: 1px solid #ccc;
	outline: none;
}


.shopping-bag img{
	display: block;
}

.shopping-bag h3{
	font-size: 28px;
	line-height: 34px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 50px 0px 55px 0px;
}

.shopping-bag h4 {
	margin-bottom: 0px;
}

.shopping-bag .cart-info {
	font-size: 12px;
	color: #666;
}

.shopping-bag .cart-info span {
	font-style: italic;
}

.shopping-bag .cancel{
	font-size: 22px;
}

.shopping-bag .cart-cost{
	font-size: 20px;
	line-height: 24px;
}

.shopping-bag .coupon{
	margin-bottom: 110px;
}

.shopping-bag .form-control{
	margin: 0px;
	width: 76%;
}

.shopping-bag button{
	background: #D33030;	
}



.cart-final table {
	width: 100%;
	box-shadow: none;
	border-collapse: collapse;
	border: 1px solid #ccc;
	margin-bottom: 0px;
}

.cart-final table th , td {
	padding: 15px 20px;
	border: 1px solid #ccc;
}

.cart-final table th{
	text-align: left;
	background: #f2f2f2;
	font-weight: 700;
}

.shopping-bag .btn{
	width: 100%;
	text-align: center;
}



/*CHECKOUT*/
.checkout-left h3{
	font-size: 28px;
	line-height: 34px;
	font-weight: 700;
	margin: 50px 0px;
	text-transform: uppercase;
}

.checkout h4{
	font-weight: 700;
	text-transform: uppercase;
} 

.checkout-left h4{
	margin-bottom: 15px;
}

.checkout-left .form-checkout{
	display: flex;
	justify-content: space-between;
}


.checkout-left .ship-address input , select , textarea{
	margin-bottom: 15px;
	padding: 15px;
	border: 1px solid #ccc;
	outline: none;
	resize: none;
	width: 100%;
}

.checkout-left .ship-address .form-signup{
	width: 305px;
}

.checkout-left select{
	width: 300px;
}

.checkout-left textarea{
	margin-bottom: 25px;
}

/*COUPON*/
.checkout-left .coupon input{
	margin-top: 0px;
	width: 84.5%;
	margin-bottom: 30px;
}

.checkout-left .coupon button{
	background: #D33030;
	padding-top: 17px;
}


.checkout-left .ship{
	margin-bottom: 30px;
}

.checkout-left .ship label {
	font-weight: 700;
}

.checkout-left .ship label span{
	margin-left: 70px;
}

.checkout-left .ship input {
	margin-right: 5px;
}


.checkout-left .payment{
	margin-bottom: 60px;
}

.checkout-left .payment label {
	font-weight: 700;
}

.checkout-left .payment input {
	margin-right: 5px;
}



.checkout-right h4 {
	margin: 135px 0px 15px 0px;
	padding-bottom: 38px;
	border-bottom: 1px solid #999;
}

.checkout-right table{
	border-collapse: collapse;
	width: 100%;
}

.checkout-right table .left{
	text-align: left;
}

.checkout-right table th{
	padding-bottom: 10px;
	border: none;
}

.checkout-right table td {
	padding: 4px 0px;
	border: none;
}
.checkout-right .check-list , .bill{
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
	margin-bottom: 15px;
}

.checkout-right a {
	width: 100%;
}